.footer{
    background-color: var(--colorAzulOscuro);
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer h4{
    font-size: 21px;
}
.sociales{
    width: 32%;
    text-align: center;
    font-family: var(--letraGaramond);
    
    
}
.footer--sociales{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 13px;
    
    

}
.footer--sociales a{
    color: white;
    font-size: 18px;
    
    
}
.contacto{
    width: 65%;
    text-align: center;
}
.contacto a{
    color: white;
}
.contacto--item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 7px;
    margin-bottom: 5px;

    

}
.servicios{
    text-align: center;
    width: 32%;
    display: none;
    
    
}
.servicios ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
}
.derechos{
    width: 100%;
    text-align: center;
    background-color: var(--colorGrisOscuro);
    color: white;
    font-family: var(--letraGaramond);
    text-transform: uppercase;
    font-size: 7px;

}
