
.footer{
    display: none;
}

.register_main{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
    font-family: var(--letraGaramond);
}

.register_return{
    width: 90%;
    padding-left: 20px;
    margin : 10px 0 2px;
    font-family: var(--letraGaramond);
    font-size: 12px;
    text-decoration: none;
    background-color: var(--colorBlanco);
}

.register_section{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register_section-header h1 {
    font-size: 30px;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}

.register_section-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.register_section_main-option{
    display: flex;
    justify-content: space-around;
    width: 100%;
}



.reg_sec_main_opt-reg{
    width: 50%;
    background-color: var(--colorCeleste);
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.reg_sec_main_opt-log{
    width: 50%;
    background-color: var(--colorBlanco);
    text-align: center;
    border-left: 1px solid var(--colorAzulOscuro);
    border-bottom: 1px solid var(--colorAzulOscuro);
}

.register_section_main-correo{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.register_section_main-correo button{
    display: block;
    width: 150px;
    border: 2px solid var(--colorAzulOscuro);
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 3px 3px rgba(0,0,0,.6);
}

.register_section_main-correo p{
    text-transform: uppercase;
    text-align: center;
    font-size: 10px;
    font-weight: bold;
}

.register_section_main-form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 10px;
}

.reg_sec_main_form-container{
    width: 95%;
    text-align: center;
}

.reg_sec_main_form-container input{
    width: 100%;
}

.reg_sec_main_form-container button{
    width: 100px;
    border: 1px solid rgba(30, 7, 233, 1);
    border-radius: 10px;
    padding: 3px;
    color:var(--colorAzulOscuro);
    background-color: var(--colorBlanco);
    cursor:default;
}

.reg_sec_main_form-container button:hover{
    color:var(--colorBlanco);
    background-color: var(--colorAzulOscuro);
    cursor: pointer;
}

.reg_sec_main_form-container a{
    color: var(--colorRojo);
}

/* ======================= MEDIA QUERY || TABLET =======================*/
@media (min-width:768px) {
    .register_main{
        width: 70%;
        margin: 10px auto;
        font-family: var(--letraGaramond);
        box-shadow: 5px 5px 5px #000;
    }
    


}

/* ======================= MEDIA QUERY || DESKTOP =======================*/

@media (min-width: 1024px){

    .cart_body{
        max-width: 1024px;
        margin: 0px auto;
    }

    
    
}
