*{
    box-sizing: border-box;

}
:root{
    --colorLila :#EB7CE2;
    --colorCreema: #EBD09D;
    --colorVioletaClaro: #A587EB;
    --colorVerde: #93EB6E;
    --colorCelest: #7AAAEB;
    --colorLetra:#2A1D52;
    --colorVerdeOscuro: #025454;



}


