.bt-neon{
    display: inline-block;
    padding: 5px 10px;
    color: #fff;
    letter-spacing: 2px;
    font-size: 15PX;
    text-decoration: none;
    overflow: hidden;
    transition: .2s;
    border-radius: 10px;
}
.bt-neon:hover{
    background-color: #a945c7;
    box-shadow: 0 0 10px #a945c7, 0 0 30px #a945c7,0 0 100px #a945c7;
    color: #fff;
}

.boton_salir{
    border: 1px solid red;
    border-radius: 3px;
    text-decoration: none;
    padding: 3px 10px;

}

.bt-confirm{
    margin: 5px;
    padding: 4px 15px;
    border-radius: 10px;
    font-weight: 600;
    background: #066e1d;
    color: #fff;
}

.bt-cancel{
    margin: 5px;
    padding: 4px 15px;
    border-radius: 10px;
    font-weight: 600;
    background: #ffffff;
    color: rgb(1, 97, 25);
}

