<%- include('./partials/head', {title:" ARCHIVO"}) %>
    <!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

    <body>
        <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
        <%- include('./partials/header') %>




            <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
            <main class="main_menu">
                <div class="carrucel">

                </div>
                <div class="caja--menu-lista">
                    <div class="listado_categoria">
                        <h1>categoria</h1>


                        <div><a href="/">mates</a></div>
                        <div><a href="/">figuras</a></div>
                        <div><a href="/">llaveros</a></div>
                        <div><a href="/">articulados</a></div>
                        <div><a href="/">portacelular</a></div>
                        <div><a href="/">cosplay</a></div>
                        <div><a href="/">juegos</a></div>
                        <div><a href="/">funkos</a></div>

                    </div>
                    <div class="caja-de-imagenes">
                        <div class="caja"><a href="/products/detalle"><img src="/images/i1.png">
                                <p>jefe maestro $1200</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i2.png">
                                <p>mate de gruu $1500</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i3.png">
                                <p>equipo de mate $3000</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i4.png">
                                <p>figura anime $2500</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i5.png">
                                <p>charmander mamado $1500</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i6.png">
                                <p>portajousting $1800</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i7.png">
                                <p>figura pokemon $1500</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i8.png">
                                <p>figura yoda $2500</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i9.png">
                                <p>portajousting $1500</p>
                        </div></a>
                        <div class="caja"><a href="/products/detalle"><img src="/images/i10.png">
                                <p>macetero $1500</p>
                        </div></a>
                    </div>
                </div>
            </main>

            <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
            <%- include('./partials/footer') %>
    </body>

    </html>