<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head') %> 

<body>
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main>
        <section class="detalle__menu--section--producto">
            <article class="detalle__menu--article--producto">
                <div class="detalle__menu--image">
                    <img src="/images/groott-redes-v-1080x810-1-1024x768.png" alt="">
                </div>
                <div class="detalle__menu--caja1">
                    <h3 class="detalle__menu--titulo">Precio:</h3>
                <div class="detalle__menu--button">
                    <!-- <button class="detalle__menu--button1"><a href="">añadir al carrito</a></button> -->
                    <!-- <button class="detalle__menu--button2"><a href="">comprar</a></button> -->
                    <a class="detalle__menu--button1" href="productCart.html">añadir al carrito</a>
                    <a class="detalle__menu--button2" href="">comprar</a>
                </div>
                <article class="detalle__menu--article--descripcion">
                    <h4 class="detalle__menu--titulo">*Descripcion</h4>
                    <div class="detalle__menu--p">
                        <p>altura:</p>
                        <p>material:</p>
                        <p>tiempo:</p>
                    </div>
                    <p class="detalle__menu--descripcion--general">Descripcion general:</p>
                        <p class="detalle__menu--parrafo">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis, eveniet, eius minima quam deleniti ut magnam qui ducimus voluptates harum sit, maxime debitis? Mollitia aperiam facilis fugit earum labore. Officiis!</p>
                </article>
                </div>
                
            </article>
            
        </section>
        <h3 class="detalle__menu--tituo--comentario">*comentarios*</h3>
        <section class="detalle__menu--section--comentarios">
            <div class="detalle__menu--comentario detalle--comentario1">
                <h6 >perfil del usuario</h6>
                <p class="detalle__menu--lorem" >Lorem ipsum dolor sit amet. <a href="">ver más</a></p>
            </div>
            <div class="detalle__menu--comentario detalle--comentario2">
                <h6>perfil del usuario</h6>
                <p class="detalle__menu--lorem">Lorem ipsum dolor sit amet consectetur. <a href="">ver más</a></p>
            </div>
            <div class="detalle__menu--comentario detalle--comentario3">
                <h6>perfil del usuario. </h6>
                <p class="detalle__menu--lorem">Lorem ipsum dolor sit. <a href="">ver más</a></p>
            </div>
        </section>
        <section class="detalle__menu--comentar">
            <h3>Déjanos tu comentario</h3>
            <div class="detalle__menu--caja--textarea">
                <textarea class="detalle--textarea" name="comentario" id="comentario" cols="35" rows="3"></textarea>
                <a class="detalle__menu--button-enviar" href="">enviar</a>
            </div>
        </section>
    </main>

    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>


    <!-- ==================================== GLIDER ==================================== -->


    <script src="/js/glider.js"></script>
    <script>
        window.addEventListener('load', function () {
            new Glider(document.querySelector('.glider'), {
                slidesToShow: 1,
                dots: '#dots',
                draggable: true,
                arrows: {
                    prev: '.glider-prev',
                    next: '.glider-next'
                },
                responsive: [
                    {
                        // screens greater than >= 768px
                        breakpoint: 768,
                        settings: {
                            slidesToShow: '1',
                            slidesToScroll: 'auto',
                            itemWidth: 150,
                            duration: 0.25
                        }
                    }, {
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            itemWidth: 150,
                            duration: 0.25
                        }
                    }
                ]
            });
        })
    </script>
    
</body>

</html>
