<%- include('./partials/head') %>


    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    

        <!-- ======================== BODY || MAQUETADO NAV AUXILIAR DEL HEADER MOVILE ======================== -->

        <body>
            <%- include('./partials/header') %>
            <div class="header_nav">
                <nav>
                    <ul>
                        <li><a href="">Nosotros <i class="fa-solid fa-people-group"></i></a></li>
                        <li><a href="">Vender modelo 3D <i class="fa-brands fa-connectdevelop"></i></a></li>
                        <li><a href="">Registro <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                        <li><a href="">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
                    </ul>
                </nav>
            </div>

            <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->

            <main class="main-menu">


                <section class="menu--bottom">
                    <div class="caja_bottom">
                        <a href="/"><img src="/img/1.png" alt="">
                            <p>Modelo</p>
                        </a>

                    </div>
                    <div class="caja-bottom2">
                        <a href="/"><img src="/img/2.png" alt="">
                            <p>Diseño</p>
                        </a>
                        <a href="/"><img src="/img/3.png" alt="">
                            <p>Personalizado</p>
                        </a>
                    </div>

                    <a href=""><img src="/img/archivo.jpg" alt=""></a>
                    <a href=""><img src="/img/figura.jpg" alt=""></a>


                </section>
                <section class="descripcion">

                    <h1 class="titulo">Descripcion</h1>
                    <p>Desde 2 años nos encargamos de la produccion de piezas impresas a base de plastico reciclado y
                        otros elementos , tambien en la creacion de piezas por diseños en computadora que posteriormente
                        se pasan a imprimir con las caracteristicas pedidas por el cliente,tambien la fabricacion de
                        piezas mecanicas que se necesitan que sean mas duras.
                        Trabajamos piezas estandar como piezas personalizadas a pedido
                    </p>

                </section>


            </main>


            <%- include('./partials/footer') %>
        </body>

        </html>
        