<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"PROFILE"}) %> 

<body>
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <div class="main_menu">
        <h2>perfil de usuario</h2>
        <div class="caja_de_datos">
            
            <div class="cajas"><p>hola</p></div>
            <div class="cajas"><p>hola</p></div>
            <div class="cajas"><p>hola</p></div>
         </div>
    </div>
    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>

</html>