<!-- ======================== HEAD || CONFIGURACION ARCHIVO HTML ======================== -->

<!-- =================== BODY || MAQUETADO DEL ARCHIVO HTML (Header, Main, Footer) =================== -->

<%- include('./partials/head', {title:"REGISTER"}) %> 

<body>
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <%- include('./partials/header') %>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->
    <main class="register_main" >
        <div class="register_return">
            <a href="/">Inicio</a>
            <span>/Registro</span>
        </div>
        <section class="register_section">
            <header class="register_section-header" >
                <h1>registrate</h1>
            </header>
            <main class="register_section-main">
                <div class="register_section_main-option">
                    <div class="reg_sec_main_opt-reg">
                        <a href="../users/register">Registrarse</a>
                    </div>
                    <div class="reg_sec_main_opt-log">
                        <a href="../users/login">Iniciar Sesión</a>
                    </div>
                </div>
                <div class="register_section_main-correo">
                    <button> <i class="fa-brands fa-google"></i> GOOGLE</button>
                    <P>registrate con el correo electrónico</P>
                </div>
                <form action="" class="register_section_main-form">
                    <div class="reg_sec_main_form-container">
                        <input type="text" placeholder="Nombre">
                    </div>
                    <div class="reg_sec_main_form-container">
                        <input type="text" placeholder="apellido">
                    </div>
                    <div class="reg_sec_main_form-container">
                        <input type="email" placeholder="Ingresa e-mail">
                    </div>
                    <div class="reg_sec_main_form-container">
                        <input type="password" placeholder="Ingresa contraseña">
                    </div>
                    <div class="reg_sec_main_form-container">
                        <input type="password" placeholder="Confirmar Contraseña">
                    </div>
                    <div class="reg_sec_main_form-container">
                        <button type="submit">Iniciar Sesión</button>
                    </div>
                    <div class="reg_sec_main_form-container">
                        <span>Al hacer clic en Iniciar Sesión acepta nuestra</span>
                        <a href="">Declaración de privacidad</a>
                        <span>y</span>
                        <a href="">Términos y Condiciones</a>
                    </div>
                </form>
            </main>
        </section>
        
        
    </main>

    <!-- ======================== BODY || MAQUETADO DEL fOOTER ======================== -->
    <%- include('./partials/footer') %>
</body>

</html>