<footer class="footer">
    <div class="sociales">
        <h4>Sociales</h4>
        <div class="footer_sociales--icon">
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-instagram-square"></i></a>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-youtube"></i></a>
            <a href=""><i class="fa-brands fa-pinterest"></i></a>
        </div>

    </div>
    <div class="contacto">
        <h4>Contacto</h4>
        <div class="contacto--item">
            <a><i class="fa-solid fa-map-location-dot"></i>Cutral co - Plaza Huincul</a>
            <a><i class="fa-solid fa-square-phone"></i>123456789</a>
            <a href=""><i class="fa-solid fa-envelope"></i>diseniame@gmail.com</a>
        </div>

    </div>
    <nav class="servicios">
        <h4>Servicios</h4>
        <ul class="servicios_menu">
            <li><a href="">Producto 1</a></li>
            <li><a href="">Producto 2</a></li>
        </ul>
    </nav>
    <div class="derechos">
        <p>Derechos Reservados || DISEÑAME 3D || All rights reserved</p>
    </div>

</footer>