<!DOCTYPE html>
<html lang="en">
<header class="header">
    <div class="header--logo">
        <img src="/img/Logo__Disename3d_SB_Hilo.png" alt="">
    </div>

    <div class="header_buscar_burger">
        <form action="" class="header_buscar_form--search">
            <input type="text">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <button class="header_burger"><a href=""><i class="fa-solid fa-bars"></i></a></button>
    </div>

    <div class="header_nav_in">
        <nav>
            <ul>
                <li><a href="">Nosotros <i class="fa-solid fa-people-group"></i></a></li>
                <li><a href="detalle.html">Vender modelo 3D <i class="fa-brands fa-connectdevelop"></i></a></li>
                <li><a href="register.html">Registro <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="productCart.html">Carrito  <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>
</header>