<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diseneame__3D__grupo1</title>
    <script src="https://kit.fontawesome.com/965e5e405e.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header class="header">
        <div class="header--logo">
            <img src="/img/Logo Disename3D.svg" alt="">
        </div>
        <ul>
            <li><a href="">Nosotros</a></li>
            <li><a href="">Vender modelo 3D</a></li>
        </ul>
        <ul>
            <li><a href="">Registro</a></li>
        </ul>
        <div class="header--nav">
            <a ><i class="fa-solid fa-cart-shopping"></i></a>
        <button><a href=""><i class="fa-solid fa-bars"></i></a></button>
        </div>

    </header>
    <main>
        <div class="menu">

        </div>
    </main>
    <footer class="footer">
        <div class="sociales">
            <h4>Sociales</h4>
            <div class="footer--sociales">
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram-square"></i></a>
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-pinterest"></i></a>
            </div>

        </div>
        <div class="contacto">
            <h4>Contacto</h4>
            
            <div class="contacto--item">
                <a><i class="fa-solid fa-map-location-dot"></i>Cutral co - Plaza Huincul</a>
            <a><i class="fa-solid fa-square-phone"></i>123456789</a>
            <a href=""><i class="fa-solid fa-envelope"></i>diseniame@gmail.com</a>
            </div>

        </div>
        <nav class="servicios">
            <h4>Servicios</h4>
            <ul>
                <li><a href="">Producto 1</a></li>
                <li><a href="">Producto 2</a></li>
            </ul>
        </nav>
        <div class="derechos">
            <h3>Derechos Reservados</h3>
        </div>

    </footer>
</body>

</html>
