<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DISENAME3D || HOME</title>
        <script src="https://kit.fontawesome.com/965e5e405e.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
    <!-- ======================== BODY || MAQUETADO DEL HEADER ======================== -->
    <header class="header">
        <div class="header--logo">
            <img src="/img/Logo__Disename3d_SB_Hilo.png" alt="">
        </div>

        <div class="header_buscar_burger">
            <form action="" class="header_buscar_form--search">
                <input type="text">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <button class="header_burger"><a href=""><i class="fa-solid fa-bars"></i></a></button>
        </div>

        <div class="header_nav_in">
            <nav>
                <ul>
                    <li><a href="">Nosotros <i class="fa-solid fa-people-group"></i></a></li>
                    <li><a href="detalle.html">Vender modelo 3D <i class="fa-brands fa-connectdevelop"></i></a></li>
                    <li><a href="register.html">Registro <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                    <li><a href="productCart.html">Carrito  <i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </nav>
        </div>
    </header>

    <!-- ======================== BODY || MAQUETADO NAV AUXILIAR DEL HEADER MOVILE ======================== -->
    <div class="header_nav">
        <nav>
            <ul>
                <li><a href="">Nosotros <i class="fa-solid fa-people-group"></i></a></li>
                <li><a href="">Vender modelo 3D <i class="fa-brands fa-connectdevelop"></i></a></li>
                <li><a href="">Registro <i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                <li><a href="">Carrito <i class="fa-solid fa-cart-shopping"></i></a></li>
            </ul>
        </nav>
    </div>

    <!-- ======================== BODY || MAQUETADO DEL MAIN ======================== -->

        <main class="main-menu">
            
            
                <section class = "menu--bottom">
                 <div class="caja_bottom">
                    <a href="/"><img  src="/img/1.png" alt=""><p>Modelo</p></a>
                    
                 </div>  
                 <div class="caja-bottom2">
                    <a href="/"><img src="/img/2.png" alt=""><p>Diseño</p></a>
                    <a href="/"><img src="/img/3.png" alt=""><p>Personalizado</p></a>
                   </div>
                 
                </section>
                  <section class="descripcion">
                    
                    <h1 class="titulo">Descripcion</h1>
                    <p>Desde 2 años nos encargamos de la produccion de piezas impresas a base de plastico reciclado y otros elementos , tambien en la creacion de piezas por diseños en computadora que posteriormente se pasan a imprimir con las caracteristicas pedidas por el cliente,tambien la fabricacion de piezas mecanicas que se necesitan que sean mas duras.
                        Trabajamos piezas estandar como piezas personalizadas a pedido
                    </p>

                  </section>
                
            
        </main>
       

        <footer class="footer">
            <div class="sociales">
                <h4>Sociales</h4>
                <div class="footer_sociales--icon">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-instagram-square"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-pinterest"></i></a>
                </div>
    
            </div>
            <div class="contacto">
                <h4>Contacto</h4>
                <div class="contacto--item">
                    <a><i class="fa-solid fa-map-location-dot"></i>Cutral co - Plaza Huincul</a>
                    <a><i class="fa-solid fa-square-phone"></i>123456789</a>
                    <a href=""><i class="fa-solid fa-envelope"></i>diseniame@gmail.com</a>
                </div>
    
            </div>
            <nav class="servicios">
                <h4>Servicios</h4>
                <ul class="servicios_menu">
                    <li><a href="">Producto 1</a></li>
                    <li><a href="">Producto 2</a></li>
                </ul>
            </nav>
            <div class="derechos">
                <p>Derechos Reservados || DISEÑAME 3D || All rights reserved</p>
            </div>
    
        </footer>
    </body>
    
    </html>

   
   
   
   
   
   
   
    